[all]
{% for host in groups['all'] %}
{{ host }}
{% endfor %}

[database:children]
managers
workers

[managers]
{{ groups['all'][0] }}

[workers]
{% for host in groups['all'][1:3] %}
{{ host }}
{% endfor %}

[frontend]
{{ groups['all'][3] }}

