<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Environment</title>

    <!-- Main Styles -->
    <link rel="stylesheet" href="/static/assets/styles/style.min.css">

    <!-- Material Design Icon -->
    <link rel="stylesheet" href="/static/assets/fonts/material-design/css/materialdesignicons.css">

    <!-- mCustomScrollbar -->
    <link rel="stylesheet" href="/static/assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css">

    <!-- Waves Effect -->
    <link rel="stylesheet" href="/static/assets/plugin/waves/waves.min.css">

    <!-- Sweet Alert -->
    <link rel="stylesheet" href="/static/assets/plugin/sweet-alert/sweetalert.css">

    <!-- Dark Themes -->
    <link rel="stylesheet" href="/static/assets/styles/style-black.min.css">
</head>

<body>
    <div class="main-menu">
        <header class="header">
            <a href="index.html" class="logo"><i class="fa fa-home">HOME</i></a>
        </header>
        <!-- /.header -->
        <div class="content">
            <div class="navigation">
                <h5 class="title">Livability</h5>
                <!-- /.title -->
                <ul class="menu js__accordion">
                    <li>
                        <a class="waves-effect" href="{{ url_for('dash') }}"><i class="menu-icon mdi mdi-view-dashboard"></i><span>Dashboard</span></a>
                    </li>
                </ul>
                <!-- /.menu js__accordion -->
                <h5 class="title">Scenarios</h5>
                <!-- /.title -->
                <ul class="menu js__accordion">
                    <li class="current active">
                        <ul class="sub-menu js__content">
                            <li class="current"><a href="{{ url_for('env') }}">Environment</a></li>
                            <li><a href="{{ url_for('language') }}">Language</a></li>
                            <li><a href="{{ url_for('rent') }}">Rent</a></li>
                            <li><a href="{{ url_for('unem') }}">Unemployment</a></li>
                        </ul>
                        <!-- /.sub-menu js__content -->
                    </li>
                </ul>
                <!-- /.menu js__accordion -->
            </div>
            <!-- /.navigation -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.main-menu -->

    <div class="fixed-navbar">
        <div class="pull-left"></div>
        <!-- /.pull-left -->
        <div class="pull-right"></div>
        <!-- /.pull-right -->
    </div>
    <!-- /.fixed-navbar -->


    <div id="wrapper">
        <div class="main-content">
            <div class="row small-spacing">
                <div class="col-lg-6 col-md-12">
                    <div class="box-content">
                        <h4 class="box-title">Word Cloud 0f Tweets Related To Environment</h4>
                        <!-- /.box-title -->
                        <img src="/static/assets/images/environment_cloud.png" style="height: 480px">
                    </div>
                    <!-- /.box-content -->
                </div>
                <!-- /.col-lg-6 col-md-12 -->

                <div class="col-lg-6 col-md-12">
                    <div class="box-content">
                        <h4 class="box-title">Bar Chart Of Tweets Related To Environment Topics Sentiment Analysis Score</h4>
                        <!-- /.box-title -->
                        <canvas id="bar-chartjs-chart1" class="chartjs-chart" width="480" height="430"></canvas>
                        <!-- /#bar-chartjs-chart1.chartjs-chart -->
                    </div>
                    <!-- /.box-content -->
                </div>
                <!-- /.col-lg-6 col-md-12 -->
            
            </div>
            <!-- /.row small-spacing -->
        </div>
        <!-- /.main-content -->
    </div>
    <!--/#wrapper -->

    <!-- JavaScript Libraries -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/assets/scripts/jquery.min.js"></script>
    <script src="/static/assets/scripts/modernizr.min.js"></script>
    <script src="/static/assets/plugin/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/static/assets/plugin/nprogress/nprogress.js"></script>
    <script src="/static/assets/plugin/sweet-alert/sweetalert.min.js"></script>
    <script src="/static/assets/plugin/waves/waves.min.js"></script>

    <!-- chart.js Chart -->
    <script src="/static/assets/plugin/chart/chartjs/Chart.bundle.min.js"></script>
    <script src="/static/assets/scripts/chart.chartjs.black.init.js"></script>
    
    <script src="/static/assets/scripts/main.min.js"></script>

</body>

</html>
